#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin: 32px 0;
}
.page {
  padding: 0px 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  min-height: 344px;
  min-width: 656px;
}

.grid-item {
  padding: 1rem;
  background-color: rgb(112, 112, 112);
  border-radius: 8px;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}